/* 
CSS NORMALIZE 
*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3c3c3c;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

a,
button {
  cursor: pointer;
}

image {
  max-width: 100%;
  height: auto;
}

/* 
HEADER 
*/

/* BEM BLOCK */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 135px;
}

/* BEM ELEMENT of navigation */
.navigation__list {
  display: flex;
}

/* BEM MODIFIER */
.navigation__list--item {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

/* BEM BLOCK */
.link {
  text-decoration: none;
  color: #3c3c3c;
}

.link:hover {
  color: #18b5dc;
}

/* BEM MODIFIER */
.navigation__list--item:not(:last-of-type) {
  margin-right: 30px;
}

/* BEM BLOCK */
.button {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #3c3c3c;
  padding: 10px 20px;
  background-color: #fff;
}

/* 
MAIN 
*/

/* BEM BLOCK */
.about {
  margin: 150px 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BEM ELEMENT of section "about" */
.about__title {
  font-size: 37px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* BEM BLOCK */
.divider {
  height: 4px;
  width: 45px;
  background-color: #dddbdb;
  margin-bottom: 40px;
}

/* BEM ELEMENT of section "about" */
.about__description {
  text-align: center;
  max-width: 570px;
  font-weight: 300;
  margin-bottom: 60px;
  line-height: 1.5;
}

/* BEM ELEMENT of section "about" */
.about__people {
  display: flex;
  list-style: none;
}

/* BEM ELEMENT of section "people" */
.people-card img {
  margin-bottom: 20px;
}

.people-card span {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.people-card p {
  font-size: 18px;
  font-weight: 300;
}

.people-card:not(:last-of-type) {
  margin-right: 30px;
}

.people-card img:hover {
  background-color: #18b5dc;
}

/* FOOTER */

/* BEM BLOCK */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BEM ELEMENT of logo */
.logo--footer {
  margin: 40px 0 28px 0;
}

/* BEM ELEMENT of footer */
.footer__social {
  list-style: none;
  display: flex;
  margin: 28px 0 40px 0;
}

/* BEM BLOCK */
.icon:not(:last-of-type) {
  margin-right: 10px;
}
